%table.table
  %thead
    %tr
      %th
        ID
      %th
        Date
      %th
        Supplier
      %th
        actions
  %tbody
    - @receipt_notes.each do |note|
      %tr
        %td
          = note.id
        %td
          = note.date
        %td
          = note.supplier
        %td
          .row
            = button_to 'Show', receipt_note_path(note), method: :get, class: "btn btn-info"
            = button_to 'Posting', receipt_note_document_posting_path(note), class: "btn #{document_button_class(note)}"
= link_to 'New receipt note', new_receipt_note_path
|
= link_to 'Back', root_path
