%table.table
  %tbody
    %tr
      %td Date: #{@delivery_note.date}
    %tr
      %td Customer: #{@delivery_note.customer}
    - @outcomes.each do |outcome|
      %tr
        %td Item: #{outcome.item_name} | Qty: #{outcome.quantity} | Price: #{outcome.price}

= button_to 'Posting',delivery_note_document_posting_path(@delivery_note),
  class: "btn #{document_button_class(@delivery_note)}"
%p
  = button_to 'Show entries',delivery_note_document_posting_path(@delivery_note), remote: true,
      method: :get, class: "btn btn-info", data: { :toggle=>"collapse", :target=>"#collapseExample" }, aria: { :expanded=>"false", :controls=>"collapseExample" }
  .collapse#collapseExample
= link_to 'Edit', edit_delivery_note_path(@delivery_note)
|
= link_to 'Back', delivery_notes_path
