.row
  = simple_form_for @report, as: :report, method: :get, url: sale_report_path do |f|
    = f.input :date_start, as: :datetime
    = f.input :date_end, as: :datetime
    = f.submit 'Submit', class: 'btn btn-success btn-block'
.row
  %table.table
    %thead
      %tr
        %th
          Item
        %th
          Quantity
        %th
          Cost price
        %th
          Sale price
        %th
          Profit
    %tbody
      - @report.data.each do |item|
        %tr
          %td
            = item.name
          %td
            = item.quantity
          %td
            = item.cost_price
          %td
            = item.sale_price
          %td
            = item.profit
= link_to 'Back', root_path
