.row
  = simple_form_for @report, as: :report, method: :get, url: report_path do |f|
    = f.input :date, as: :datetime
    = f.submit 'Submit', class: 'btn btn-success btn-block'
.row
  %table.table
    %thead
      %tr
        %th
          Item
        %th
          Date in
        %th
          Cost price
        %th
          Quantity
    %tbody
      - @report.data.each do |item|
        %tr
          %td
            = item.name
          %td
            = item.date
          %td
            = item.cost_price
          %td
            = item.quantity
= link_to 'Back', root_path
